$font: "halyard-display";

$baseFontSize: 16px;

$textH1: (
  null: (
    90px,
    70px,
  ),
  md: (
    120px,
    100px,
  ),
  xl: (
    170px,
    140px,
  ),
);

$textH2: (
  null: (
    40px,
    38px,
  ),
  lg: (
    60px,
    56px,
  ),
);

$textH3: (
  null: (
    80px,
    66px,
  ),
  md: (
    120px,
    100px,
  ),
);

$text-body-1: (
  null: (
    30px,
    34px,
  ),
  md: (
    40px,
    40px,
  ),
  lg: (
    60px,
    60px,
  ),
);

$text-body-2: (
  null: (
    18px,
    24px,
  ),
  lg: (
    20px,
    24px,
  ),
);

$text-body-3: (
  null: (
    26px,
    36px,
  ),
  lg: (
    30px,
    40px,
  ),
);

$text-body-4: (
  null: (
    10px,
    20px,
  ),
  lg: (
    12px,
    22px,
  ),
);

$text-menu: (
  null: (
    16px,
    16px,
  ),
  md: (
    22px,
    22px,
  ),
);

$text-nav: (
  null: (
    54px,
    54px,
  ),
  lg: (
    84px,
    84px,
  ),
  xl: (
    120px,
    120px,
  ),
);

$text-tag: (
  null: (
    16px,
    22px,
  ),
  lg: (
    22px,
    24px,
  ),
);

$text-number: (
  null: (
    96px,
    66px,
  ),
  md: (
    170px,
    150px,
  ),
  lg: (
    274px,
    190px,
  ),
);

$text-caption: (
  null: (
    8px,
    12px,
  ),
  lg: (
    12px,
    18px,
  ),
);

$text-contact-button: (
  null: (
    64px,
    50px,
  ),
  md: (
    100px,
    100px,
  ),
);
