@import "../../../styles/includes/";

.whyBoo {
  grid-template-rows: $spacing-x8 minmax($spacing-x4, auto) repeat(4, auto) $spacing-x8;
  padding-bottom: $spacing-x6;
  padding-top: $spacing-x2;
  overflow: hidden;
  color: $white;

  &:last-of-type {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    grid-template-rows: $spacing-x4 minmax($spacing-x4, auto) repeat(4, auto) $spacing-x8;
    padding-bottom: $spacing-x8;
    padding-top: $spacing-x5;
  }
}

.title {
  @include font-size($text-slide);
  grid-column: 2 / -2;
  margin-bottom: 0;
  grid-row: 3 / 4;
  color: $white;
  width: 100%;
  z-index: 5;

  & > *:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    grid-column: 2 / 9;
  }
}

.label {
  @include font-size($text-body-3);
  text-transform: uppercase;
  grid-column: 2 / 8;
  margin-bottom: 0;
  grid-row: 2 / 3;
  z-index: 5;

  @include media-breakpoint-up(lg) {
    align-self: flex-end;
  }
}

.number {
  @include font-size($text-number-why-boo);
  justify-self: flex-end;
  grid-column: -3 / -2;
  margin-bottom: 0;
  font-weight: 200;
  grid-row: 2 / 3;
  color: $white;
  z-index: 5;

  @include media-breakpoint-up(lg) {
    grid-column: -4 / -2;
  }
}

.body {
  @include font-size($text-body-2);
  margin-top: $spacing-x4;
  align-self: flex-end;
  grid-column: 2 / -2;
  font-weight: 200;
  grid-row: 4 / 5;
  z-index: 5;

  & > *:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-top: $spacing-x1;
    grid-column: 8 / -2;
    grid-row: 4 / 5;

    [data-has-stats="true"] & {
      margin-top: $spacing-x4;
    }
  }
}

.stats {
  background-image: url("/images/gradient-displacement.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  align-items: flex-start;
  justify-content: center;
  margin-top: $spacing-x3;
  flex-direction: column;
  grid-column: 1 / -1;
  align-self: stretch;
  gap: $spacing-x4;
  grid-row: 5 / 6;
  display: flex;
  width: 100%;

  @include media-breakpoint-up(lg) {
    grid-column: 7 / -1;
    grid-row: 4 / 6;
    margin-top: 0;
    gap: 0;
  }
}

.gradient {
  border-radius: rem(52px);
  grid-column: 1 / -1;
  position: relative;
  grid-row: 1 / -1;
  overflow: hidden;
  display: block;
  z-index: 0;
}

.clientLogos {
  margin-top: $spacing-x6;
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  width: 100%;
  z-index: 5;
}

.background {
  border-radius: 0 0 rem(52px) rem(52px);
  background-color: $orange;
  grid-column: 1 / -1;
  overflow: hidden;
  grid-row: -3 / -1;
  z-index: 3;

  @include media-breakpoint-up(lg) {
    border-radius: rem(52px) 0 0 rem(52px);
    grid-column: 1 / 7;
    grid-row: 1 / -1;
  }
}
