@import "../../../styles/includes/";

.serviceCard {
  box-shadow: inset 0px 0px 0px 2px $white;
  padding: $spacing-x6 $spacing-x4;
  transition: all .5s ease-in-out;
  border-radius: rem(30px);
  flex-direction: column;
  align-self: flex-start;
  box-sizing: border-box;
  
  display: flex;

  @include media-breakpoint-up(md) {
    padding: $spacing-x6;
  }

  &[data-is-open="true"] {
    background-color: $orange;
    box-shadow: none
  }
}

.serviceCardTitle {
  @include font-size($textH5)
}

.serviceCardBody {
  @include font-size($text-body-2);
  transition: all .5s ease-in-out;
  overflow: hidden;
}

.serviceCardButton {
  transition: all .5s ease-in-out;
  background-color: transparent;
  border: solid 2px $white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  position: relative;
  height: rem(46px);
  margin-top: auto;
  width: rem(46px);
  cursor: pointer;
  display: flex;

  @include media-breakpoint-up(md) {
    height: rem(57px);
    width: rem(57px);
  }

  [data-is-open="true"] & {
    background-color: $white;

    svg {
      transform: rotate(-180deg);
      stroke: $orange;
    }
  }

  svg {
    fill: transparent;
    height: rem(18px);
    width: rem(18px);
    stroke: $white;

    @include media-breakpoint-up(md) {
      height: rem(22px);
      width: rem(22px);
    }
  }
}