@font-face {
  font-family: 'Altero';
  src: url('/fonts/Altero-Regular.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B0C10;
  box-sizing: border-box;
  font-family: $font;
  font-weight: 300;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: $baseFontSize;
}

* {
  box-sizing: border-box;
  font-family: $font;
}

h1,
h2,
h3 {
  font-family: $headlineFont;
  font-weight: 500;
}

h4,
h5,
h6,
.text-body-1,
.text-body-2,
.text-body-3,
.caption,
.tag {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
hr,
pre,
menu,
figure,
blockquote {
  margin-top: 0;
  margin-bottom: $spacing-x3;
}

ul {
  list-style: disc;
  padding-left: rem(40px);
}

ol {
  list-style: decimal;
  padding-left: rem(40px);
}

hr {
  margin: 0;
}

a {
  color: $torquay;

  &:hover {
    color: $acqua;
  }
}

h1,
.h1 {
  @include font-size($textH1);
}

h2,
.h2 {
  @include font-size($textH2);
}

h3,
.h3 {
  @include font-size($textH3);
}

h4,
.h4 {
  @include font-size($textH4);
}

.text-body-1 {
  @include font-size($text-body-1);
}

.text-body-2 {
  @include font-size($text-body-2);
}

.caption {
  @include font-size($text-caption);
}

.tag {
  @include font-size($text-tag);
}

// TO REFACTOR INTO A COMPONENT
main {
  position: relative;
  display: block;
  width: 100%;
}

header {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  position: absolute;
  margin: 0 auto;
  display: flex;
  width: 86%;
  z-index: 3;
  top: 25px;
  left: 7%
}

footer {
  justify-content: space-between;
  font-family: 'Heebo', sans-serif;
  color: $lightGrey;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5% auto;
  display: flex;
  width: 86%;
}

footer div {
  flex-direction: row;
  min-width: 290px;
  flex-wrap: wrap;
  display: flex;
  width: 20%;
}

footer a {
  letter-spacing: 0.104375rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: inherit;
}

footer a:first-of-type {
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 15px;
  width: 100%;
}

.footer address {
  font-family: 'Heebo', sans-serif;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 300;
}

footer p:last-of-type {
  letter-spacing: 0.2rem;
  margin-top: 15px;
}

.error {
  display: flex;
  height: 100vh;
  width: 100%;
}

.error h1 {
  font-family: 'Altero';
  color: $torquay;
  text-align: center;
  margin: auto 0;
  font-size: 5rem;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  main { overflow: hidden; }
  footer { flex-wrap: wrap; }
  footer div { width: 100%; }
  footer div:last-of-type { margin-top: 15px; }
}

