@font-face {
  font-family: 'Altero';
  src: url('/fonts/Altero-Regular.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: $font;
  font-weight: 300;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: $baseFontSize;
}

* {
  box-sizing: border-box;
  font-family: $font;
}

h1,
h2,
h3 {
  font-family: $headlineFont;
  font-weight: 500;
}

h4,
h5,
h6,
.text-body-1,
.text-body-2,
.text-body-3,
.caption,
.tag {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
hr,
pre,
menu,
figure,
blockquote {
  margin-top: 0;
  margin-bottom: $spacing-x3;
}

hr {
  margin: 0;
}

h1,
.h1 {
  @include font-size($textH1);
}

h2,
.h2 {
  @include font-size($textH2);
}

h3,
.h3 {
  @include font-size($textH3);
}

.text-body-1 {
  @include font-size($text-body-1);
}

.text-body-2 {
  @include font-size($text-body-2);
}

