@import "../../../styles/includes/";

.SwiperCarousel {
  transition-timing-function: linear;
}

.singleLogo {
  border: solid $white;
  border-width: 2px 2px 2px 0;
  display: flex !important;
  justify-content: center;
  min-height: rem(250px);
  flex-direction: column;
  padding: $spacing-x3;
  align-self: stretch;
  align-items: center;

  &:last-of-type {
    border-right: none;
  }
}

.imageWrapper {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;


  img {
    object-position: center center;
    max-height: rem(100px);
    object-fit: contain;
    position: relative;
    width: 100%;
  }
}